body {
	background: #F78E58;
	font-family: 'Roboto', sans-serif;
	color: black;
	position: relative;
	overflow: hidden;
}

.quotes {
	z-index: 1;
	position: relative;
	line-height: 0.5;
	outline-width: 0.1;
	font-weight: bold;
	margin-top: -15%;
}
.quotes h2 {
	font-weight: bold;
	display: none;
	margin-left: 20%;
	text-transform: uppercase; 
}

.face img {
	z-index: 2;
	position: relative;
	opacity: 0.9;
	left: 50%;
	margin-left: -100px;
	top: 37vh;
	margin-top: -152px;
	height: 304px;
	width: 200px;
}

h4 {
	position: relative;
	font-weight: bold;
	z-index: 3;
	display: inline-block;
	font-size: 22pt;
	transition: all 10s ease-in-out;
	margin-left: -250px;
}
.info {
	position: relative;
	z-index: 4;
	top: 90vh;
	display: inline-block;
}
.info p {
	font-weight: bold;
	font-size: 12pt;
	text-transform: uppercase;
	color: #F78E58;
	background-color: #111;
	padding-left: 40px;
	padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	opacity: 0.8;
}
.info a {
	text-decoration: underline;
	color: #F78E58;
}
